.instagram-button {
  background-color    : rgba(255,255,255,0.0);
  height              : 47px;
  width               : 241px;
  position            : relative;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.instagram-button .rectangle15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 47px;
  width               : 241px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.instagram-button .followusoninstagr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Work Sans", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.5px;
  line-height         : 19.0px;
}
.instagram-button .instagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.instagram-button .instagram .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.instagram-button .instagram .shape11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.instagram-button .instagram .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}


.insta-big-card {
  background-color    : rgba(215, 215, 215, 1.0);

  height              : 602px;
  width               : 509px;
  position            : relative;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.insta-big-card .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 602px;
  width               : 509px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.insta-big-card .insta-card-image {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 611px;
  width               : 515px;
  position            : absolute;
  margin              : 0;
  left                : -6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}


.insta-selected-card {
  background-color    : rgba(215, 215, 215, 1.0);
  height              : 167px;
  width               : 167px;
  position            : relative;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  margin-right: 15px;
    margin-bottom: 15px;
}
.insta-selected-card .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 167px;
  box-sizing          : border-box;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(232, 192, 167, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.insta-selected-card .insta-card-image {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 298px;
  width               : 251px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}

.insta-small-card {
  background-color    : rgba(215, 215, 215, 1.0);
  height              : 167px;
  width               : 167px;
  position            : relative;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  margin-right: 15px;
    margin-bottom: 15px;
}
.insta-small-card .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 167px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.insta-small-card .insta-card-image {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 248px;
  width               : 209px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}

.insta-left-50{
  left:50px
}


.insta-video{
  right: 3px;
  position: absolute;
  top: 5px;
  z-index:12;
}

.insta-image{
  right: 3px;
  position: absolute;
  top: 5px;
  z-index:12;
}