/* Desktop style recentpages start from here */


/* Recently Viewed Items
Dresses with delicate prints,breathable fabrics and a range of colors section  start from here  */
.desktop-main-container-recentitems{
    width: 100% !important;
    margin: 0 auto !important;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    box-sizing: border-box;
    max-width: 1280px
  }
  .desktop-main-contant-heading{
    font-family: fantasy !important;
      font-weight: inherit !important;
  }
  .desktop-main-content-txt{
    margin-left: 80px !important;
    margin-right: 80px !important;
    margin-top: 16px;
    font-family: sans-serif;
    font-weight: inherit;
  
  }
  .desktop-main-contant-heading{
      font-family: inherit !important;
      font-weight: normal !important;
      font-size: 26px;
    
  }
  .desktop-main-content-para{
    margin-top: -8px;
    margin-left: 80px !important;
    margin-right: 80px !important;
    font-size: unset;
    /* opacity: 0.1; */
    color: dimgrey;
    font-size: 14px;
    margin-bottom: 16px;
    
  }
  
  /* Recently Viewed Items
  Dresses with delicate prints,breathable fabrics and a range of colors section  ends from here  */
  
  /* desktop-main-content-body-images-items-description-container starts from here */
  
  
  .desktop-main-content-body-images-items-description-container{
    width: 100% !important;
      overflow: hidden;
      background-color: #fffaf7;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1280px;
      /* height: 87%; */
      /* margin-bottom: 43px; */
      padding-bottom: 50px;
      margin: 0 auto;
  
  }
  
  .desktop-main-content-body-images-items-list{
    width: 20%;
    margin: 16px 16px !important;
    position: relative;
  }
  .desktop-main-content-body-images-items-list img{
    width: 100%;
      border-radius: 8px !important;
     
  }
  .desktop-main-body-item-description-list_{
    height: 107px;
      width: 100%;
      margin: 3px 3px;
  
  }
  
  .text1 {
    font-size: 16px;
    color: #212121;
    font-weight: bold;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 7px;
  }
  
  
  .categories-description{
    font-size: 16px;
    font-family: sans-serif;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: inherit;
    color: #868584;
  }
  .item-sizes{
    display: block;
    text-decoration: none;
    /* color: #fffaf7; */
    color: #929090;
    margin-top: 8px;
  }
  .out-of-stock-description-desktop{
    position: absolute;
    top: 317px;
    left: 8px;
    left: 8px;
    width: 100%;
    color: red;
    opacity: 0.7;
    background-color: #ffffff;
    padding: -1px;
    margin: -35px -9px;
    padding: 22px 67px;
    font-size: 16px;
  
  }
  .but3 {
    background-color: white;
    color: red;
    border: 1px solid #f44336;
    border-radius: 4px;
    width: 100%;
    margin-left: 6px;
    color: #CA674F;
    margin-top: 16px;
    font-size: 15px;
    margin-bottom: -9px;
    padding: 9px;
}
  .common-btn-for-desktop-recent-view-page{
    margin-top: 10px;
      margin-left: -9px;
  }
  .but3:nth-child(3),.but3:nth-child(4),.but3:nth-child(6),.but3:nth-child(8){
    position:relative;
    top:24px;
  }
  .d-none{
    display: none;
  }
  /* desktop-main-content-body-images-items-description-container ends from here */
  
  
  
  /* Desktop style recentpages end from here   */
  
  
  /* desktop style for  mycoupan start from here */