/* referandearn */

.desktop-referearn-logo {
  margin-right: '5px';
  width: '25px'
}

.desktop-referearn-logo2 {
  height:'15px';
  margin-right: '5px'
}
.desktop-referearn-logo3 {
  height:'25px';
  margin-right: '5px'
}
.desktop-referearn-logo4{
  height:'25px';
  margin-right: '5px';
  margin-left: '150px'
}

.desktop-referearn-div{
  margin-top: "40px"
}
.desktop-referearn-div2{
  margin-top: "100px"
}

.desktop-referearn-text1{
  font-size: "30px";
   margin-left: "600px"
}
.desktop-referearn-text2{
  margin-left: "680px"
}
.desktop-referearn-text3{
  width: "121px";
   height: "19px";
  color: "tomato"
}
.desktop-referearn-text4{
  margin-left: "550px"
}
.desktop-referearn-text5{
  margin-left: "600px"
}
.desktop-referearn-text6 {
  margin-left: "270px" 
}
.desktop-referearn-text7{
  margin-left: "100px";
   font-size: "30px"
}
.desktop-referearn-text8{
  margin-left: "100px";
   font-size: "60px";
   color: "orange"
}
.desktop-referearn-text9{
  font-weight:10;
}
.desktop-referearn-text10{
  margin-left: "100px";
   font-size: "30px" 
}
.desktop-referearn-text11{
  margin-left: "120px"; 
  font-weight: "70"
}
.desktop-referearn-text12{
  margin-left: '1000px';
  font-size: '13px' 
}
.desktop-referearn-text13{
  text-align: 'left';
  letter-spacing: '1.5px'
}
.desktop-referearn-text14{
  text-align: 'left';
  letter-spacing: '1.5px';
  font-size: '11.7px'
}
.desktop-referearn-text15{
  float: 'left';
  text-align: 'left';
   font-size: '14px'
}
.desktop-referearn-text16{
  margin-left: '150px'; 
  font-size: '14px' 
}
.desktop-referearn-text17{
  float: 'right';
  margin-top: '-37px';
  text-align: 'left';
  font-size: '14px'
}
.desktop-referearn-text18{
  color: 'rgb(26, 163, 255)';
   font-size: '12.5px' 
}
.desktop-referearn-text19{
  word-spacing: '30px';
   margin-left: '200px'
}
.desktop-referearn-text20{
  margin-left: '500px'
}
.desktop-referearn-img1 {
  margin-left: "100px";
  margin-top: "10px";
  color: "tomato"
}
.desktop-referearn-img2 {
  margin-left: "200px"
}
.desktop-referearn-img3 {
  margin-left: "50px"
}
.desktop-referearn-img4 {
  margin-left: "45px"
}
.desktop-referearn-img5 {
  width:'130px' ;
  margin-left: '600px'
}

.desktop-referearn-line{
  border: '0.5px dotted white'
}


/* jdHDHJHLKJAHLKJHHD */
