/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  
  
  .new-check {
    padding: 50px;
  }
  
  .form-check-box-box {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-check-box input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-check-box label {
    position: relative;
    cursor: pointer;
  }
  
  .form-check-box label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0 1px 2px white, inset 0px -15px 10px -12px white;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-check-box input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .checkbox-input{
    width: 19px;
    height: 27px;
  }