*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .custom-radio-wrap {
      padding: 16px;
      margin-bottom: 20px;
  }
  
  .custom-radio-wrap form .form-group {
      margin-bottom: 10px;
  }
  
  .custom-radio-wrap form .form-group:last-child {
      margin-bottom: 0;
  }
  
  .custom-radio-wrap form .form-group label {
      -webkit-appearance: none;
      background-color: white;
      border: 2px solid #d88350

      ;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
      padding: 8px;
      border-radius: 50px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
  }
  
  .custom-radio-wrap form .form-group .label-text {
      vertical-align: middle;
      cursor: pointer;
      padding-left: 17px;
      margin-left: -6px;
      font-size: 16px;
  }
  
  .custom-radio-wrap form .form-group input {
      display: none;
      cursor: pointer;
  }
  
  .custom-radio-wrap form .form-group input:checked + label {
      background-color: white;
    color: white;
    border: 2px solid#bb4225;
  }
  
  /* .custom-radio-wrap form .form-group input:checked ~ .label-text {
      color: #0079bf;
    font-weight: 700;
  } */
  
  .custom-radio-wrap form .form-group input:checked + label:after {
      content: '';
    width: 8px;
    height: 8px;
    border-radius: 10px;
    position: absolute;
    top: 4px;
    left: 4px;
    background: #bb4225;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: none;
    font-size: 32px;
  }
  .paypal-radio-logo{
    padding-left: 17px;
    margin-left: -6px;
    font-size: 16px;
  }
  